<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BG_Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>837CB4D31EA66AC10081F760</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>837CB4E71EA66AC20081F760</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>837CB4F21EA66AC20081F760</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
